@model CareerTools.Models.Event

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.UserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactFK, "ContactFK", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ContactFK", String.Empty)
                @Html.ValidationMessageFor(model => model.ContactFK)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobFK, "JobFK", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("JobFK", String.Empty)
                @Html.ValidationMessageFor(model => model.JobFK)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeFK, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TypeFK)
                @Html.ValidationMessageFor(model => model.TypeFK)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StageFK, "StageFK", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StageFK", String.Empty)
                @Html.ValidationMessageFor(model => model.StageFK)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes)
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
